<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javascript/jquery-1.9.1.min.js"></script>
    <title>Reset Password</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="../css/login.css"/>
</head>

<body class="text-center">
<!--标题和返回键-->
<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="./login.html" class="btn btn-primary" role="button">Back</a>
            </div>
            <div class="col-sm">
                <h1 class="fw-bolder d-inline-flex">MEMO</h1>
            </div>
            <div class="col-sm">

            </div>
        </div>

        <h2>Change the password here</h2>
    </div>
</div>

<div class="container m-auto my-5 w-50">
    <form id="resetForm" action="reset.html" role="form">
        <!--警告栏-->
        <div class="alert alert-dismissible fade" role="alert" style="display:none;">
            <span></span>
        </div>
        <!--用户名-->
        <div class="form-floating my-3">
            <input type="text" name="username" class="form-control user-select-none shadow" id="username"
                   placeholder="Enter the username here.">
            <label for="username">Username</label>
        </div>
        <!--密码-->
        <div class="form-floating my-3">
            <input type="password" name="password" class="form-control user-select-none shadow" id="password"
                   placeholder="Enter the password here.">
            <label for="password">Password</label>
        </div>

        <!--电话-->
        <div class="form-floating my-3">
            <input type="text" name="phone" class="form-control user-select-none shadow" id="phone"
                   placeholder="Enter the phone number here.">
            <label for="password">Phone</label>
        </div>

        <!--邮箱-->
        <div class="form-floating">
            <input type="email" name="email" class="form-control user-select-none shadow" id="email"
                   placeholder="Enter the email here.">
            <label for="password">Email</label>
        </div>

        <!--登录按钮-->
        <input id="resetButton" type="button" class="btn btn-primary mt-5 w-50" value="Reset"/>

    </form>
</div>

<div class="my-5">
    <div>
        <small class="p-3">Don't have an account?</small><a href="register.html">Sign up</a>
    </div>
    <div>
        <small class="p-3">Already have an account?</small><a href="login.html">Login</a>
    </div>
</div>
<script>
        $("#resetButton").click(function () {
            $.ajax({
                url: "/user/reset",
                type: "POST",
                data: $("#resetForm").serialize(),
                dataType: "JSON",
                success: function (json) {
                    if (json.state == 200) {
                        alert("Password is changed.")
                        location.href = "login.html";
                    } else if(json.state == 501) {
                        bootstrapAlert("warning","Details are not correct.")
                    } else if(json.state == 502) {
                        bootstrapAlert("warning","Username not found.")
                    }
                },
                error: function (xhr) {
                    bootstrapAlert("warning", "Ops, something wrong happened!");
                }
            });
        });

        function bootstrapAlert(msg_type, msg_body) {
            var AlertMsg = $('div[role="alert"]');
            $(AlertMsg).find('span').html(msg_body);
            $(AlertMsg).removeAttr('class');
            $(AlertMsg).addClass('alert alert-dismissible alert-' + msg_type);
            $(AlertMsg).fadeIn('fast');
            $(AlertMsg).show();
        }


</script>


</body>
</html>